[user]
	name = kabir
	email = jxwazxzhp@126.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
